<form method="post">
    <div class="form-group">
        <label for="first-name-input">First name</label>
        <input type="text" name="firstName" class="form-control" id="first-name-input" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="last-name-input">Last name</label>
        <input type="text" name="lastName" class="form-control" id="last-name-input" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="birth-input">Birth</label>
        <input type="date" name="birth" class="form-control" id="birth-input" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
